
<app-modal (closed)="onModalClosed()"></app-modal>

<div class="conten">
  <div class="container-fluid">
    <div class="row">
      @for (itemP of (images | paginate: { itemsPerPage: pageSize, currentPage: page, id: 'my-pagination-id' }); track $index) {
        @for (item of photographes; track $index) {
          @if (itemP.photographeId == item.id) {
            <ng-container class="col-md-3 col-sm-6 mb-4 position-relative">
              <div  class="col-3 mt-3">
                <div class="">
                  <div class="gallery">
                    <div class="image-container position-relative">
                      <div class="icon-container ">
                        <div class="like-button" (click)="toggleLike(itemP)">
                          <i class="fas fa-heart" [class.liked]="itemP.isLiked"></i>
                        </div>
                        <i class="fas fa-ellipsis-v" (click)="openModal(itemP.id)"></i>
                      </div>

                      <img  (click)="openModal(itemP.id)" [src]="'data:image/png;base64,' + itemP.url" class="card-img-top img-fluid" oncontextmenu="return false;" [alt]="itemP.title">
                      <div class="watermark middle rotated"> {{ item.signature }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          }
        }
      }
    </div>
  </div>
</div>

<pagination-controls id="my-pagination-id" (pageChange)="page = $event"></pagination-controls>



<!--  -->
<app-login-client></app-login-client>
