.navBar-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.btn-link{
  text-decoration: none;
  border: 1px solid #f2f2f2;
}

.card-img-top{
  height: 15rem;
  object-fit: cover;
}


//Like
.like-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.like-button .fa-heart {
  font-size: 24px;
  color: #ccc;
  transition: color 0.3s, transform 0.3s;
}

.like-button .fa-heart.liked {
  color: #ff0000;
  transform: scale(1.2);
}

.like-button .like-count {
  margin-left: 5px;
  font-size: 16px;
}

//
.categorie_item{
  color: red;
}


////////////


.content{
  background-color: rgb(0, 0, 0);

}
.navbar1{
  color:white;
}
.section-div{
color: blue;
}
.p1{
  font-size: 50px;
  margin-top: 80px;
}
.form-control1{
  align-items: center;
 width: 800px;
 margin-left: 300px;
}
.form-control2{
  align-items: center;
 width: 800px;
 margin-left: 300px;
}




.image-container {
  position: relative;
}

.watermark {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.3);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  // z-index: 1;
  user-select: none;
  pointer-events: none;
}

.watermark.middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-image: linear-gradient(to top right, transparent 0%, transparent 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 100%); */
}

.watermark.rotated {
  transform: translate(-50%, -50%) rotate(-15deg);
}


/* styles.css */
body {
  background-color: #f8f9fa;
}

.container-fluid {
  margin-top: 30px;
  padding: 0;
}

.img-fluid {
  border-radius: 0;
  transition: transform 0.2s;
  display: block;
  width: 100%;
}

.img-fluid:hover {
  transform: scale(1.05);
}

.position-relative {
  position: relative;
}

.icon-container {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.2s;
}

.icon-container i {
  color: rgb(100, 34, 34);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}

.icon-container i:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.position-relative:hover .icon-container {
  opacity: 4;
  z-index: 1;
}
