:host {
  .legend {
    small {
      font-size: x-small;
    }
  }
}

.header{
  // text-align: right;
  justify-content: left;
  span{
    margin: 0 10px 0 10px;
  }

}

.title{
  margin: 10px;
  text-align: center;
}

main{
  display: grid;
  grid-template-columns: auto auto auto;
  .context{
    margin: 30px;
  }
}

.card-footer{
  display: grid;
  grid-template-columns: auto auto auto auto;
}
