.galerie{

  display: grid;
  grid-template-columns: auto auto auto auto auto;
  padding: 10px;
  margin: 10px;

  .folder{
    margin-right: 25%;
    color: #464664;
    cursor: pointer;
    // position: absolute;
    display: flex;
    flex-direction: column;
    &:hover{
      color: #333342;
    }
  }

  .add-galerie{
    background-color: auto;
    border-radius: 3%;
    margin-left: 0%;
    // padding: ;
    color: #5856d6;
    cursor: pointer;
    border: 2px solid #5856d6;
    margin-right: 70%;
    margin-bottom: 8%;
    margin-top: 10%;
    &:hover{
      color: #4645ab;
      border: 2px solid #4645ab;
    }

  }
}
