
<div class="galerie container-wrapper">
  <!-- @for (item of categories; track $index) { -->
    <div *ngFor="let categorie of categories" class="container">
      <i class="fas fa-folder fa-8x img-fluid folder"  (click)="openCategorie(categorie.id)"></i>
      <div class="folder-footer">
        <span class="text ellipsis">{{ categorie.categorie   }}</span>
        <!-- <i class="btn btn-info fas fa-pencil" (click)="modifier(categorie.id)"></i> -->
        <i class="btn btn-dark fas fa-trash img-fluid" (click)="delete(categorie.id)"></i>

      </div>
      <!-- <span>{{ categorie.id }}</span> -->

    </div>
  <!-- } -->

  <span class="add-galerie" (click)="openModal()">
    <i class="fas fa-plus fa-6x"></i>
  </span>
</div>


<app-galerie-modal [title]="'Nouvelle categorie d\'image'" (closed)="onModalClosed()"></app-galerie-modal>
