.galerie{

  display: flex;
  padding: 10px;
  margin: 10px;

  .folder{
    margin-right: 25%;
    color: #464664;
    cursor: pointer;
    position: absolute;
    display: flex;
    flex-direction: column;
    &:hover{
      color: #333342;
    }
  }

  .add-galerie{
    background-color: auto;
    border-radius: 3%;
    margin-left: 10%;
    padding: 0.4%;
    color: #5856d6;
    cursor: pointer;
    border: 2px solid #5856d6;
    position: absolute;
    &:hover{
      color: #4645ab;
      border: 2px solid #4645ab;
    }

  }
}
