
<div class="galerie">
  <!-- @for (item of categories; track $index) { -->
    <div *ngFor="let categorie of categories" class="folder " (click)="openCategorie()">
      <i class="fas fa-folder fa-6x img-fluid"></i>
      <span>{{ categorie.categorie }}</span>
      <!-- <span>{{ categorie.photographe_id }}</span> -->

    </div>
  <!-- } -->

  <span class="add-galerie" (click)="openModal()">
    <i class="fas fa-plus fa-6x"></i>
  </span>
</div>


<app-galerie-modal [title]="'Nouveau hashtag'" (closed)="onModalClosed()"></app-galerie-modal>
