
<div class="">
  <div class="container-fluid">
    <div class="row">
      @for (item of (data | paginate: { itemsPerPage: pageSize, currentPage: page, id: 'my-pagination-id' }); track $index) {
        <ng-container class="col-md-3 col-sm-6 mb-4 position-relative" routerLinkActive="router-link-active" >
          <div  class="col-3 mt-3">
            <div class="">
              <div class="gallery">
                <div class="image-container position-relative" (click)="goToProfile(item.id)">

                  <img [src]="item.imgURL" class="card-img-top img-fluid rounded-circle" oncontextmenu="return false;" [alt]="item.title">
                  <div class="watermark middle rotated"> {{ item.signature }}</div>
                  <div class="card-footer">
                    <h5 class="card-title">{{ item.nom }}</h5>
                    <p class="card-text">{{ item.description }}</p>
                    <!-- Ajout d'autres informations ici si nécessaire -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      }
    </div>
  </div>
</div>

<pagination-controls id="my-pagination-id" (pageChange)="page = $event"></pagination-controls>

