<app-modal (closed)="onModalClosedPhoto()"></app-modal>
@if (photographe) {
  <div class="">
    <main id="main">
      <section class="photographer">
        <div class="photographer-information">
          <div>
            <h2>{{photographe.nom}}</h2>
            <h3>{{photographe.ville}}, {{photographe.pays}}</h3>
            <span class="tagline">{{photographe.description}}</span>
            <div class="hashtag-container">
              @for (item of categories; track $index) {
                <span class="hashtag">#{{item.categorie}}</span>
              }
            </div>
            <button class="contact_button" (click)="openContactForm()">Envoyer un commentaire</button>

          </div>
          <div class="photograph-header">
            <button class=" contact_button" (click)="openModal()">Contactez-moi</button>
          </div>
        </div>
        <img
                [alt]="photographe.message"
                [src]="imgURL"
                class="profile"
        />
      </section>

      <div class="tri">
         <h5>Trier par</h5><br><br>

         <select class="select" name="" id="">
          <option value="" class="option">Popularite</option>
          <option value="" class="option">date</option>
          <option value="" class="option">Titre</option>
         </select>
      </div>





      <div class="container-fluid">

        <div class="row my-5">

          @for (itemP of (images | paginate: { itemsPerPage: pageSize, currentPage: page, id: 'my-pagination-id' }); track $index) {
            <ng-container class="col-md-3 col-sm-6 mb-4 position-relative">
              <div  class="col-3 mt-3">
                <div class="">
                  <div class="gallery">
                    <div class="image-container position-relative">
                      <div class="icon-container ">
                        <div class="like-button" (click)="toggleLike(itemP)">
                          <i class="fas fa-heart" [class.liked]="itemP.isLiked"></i>
                        </div>
                        <i class="fas fa-ellipsis-v" (click)="openModalPhoto(itemP.id)"></i>
                      </div>

                      <img (click)="openModalPhoto(itemP.id)" [src]="'data:image/png;base64,' + itemP.url" class="card-img-top img-fluid" oncontextmenu="return false;" [alt]="itemP.title">
                      <div class="watermark middle rotated"> {{ itemP.signature }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          }

        </div>
      </div>

      <h3 class="align-items-center">Commentaires</h3>
      <div class="comments">
        @for (item of displayedComments; track $index) {
          <div >
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ item.nom_client }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ item.ville_client }}</h6>
                <p class="card-text"><small class="text-muted">{{ item.email_client }}</small></p>
                <p class="card-text">{{ item.description }}</p>

              </div>
            </div>
            <br>
          </div>
        }
      </div>

      @if (remainingComments.length > 0) {
        <button class="btn btn-link mb-3" (click)="loadMoreComments()">
          Voir plus de commentaires
        </button>
      }



      <pagination-controls id="my-pagination-id" (pageChange)="page = $event"></pagination-controls>

      @if (showModal) {
        <div class="modall">
          <div class="modall-content">
            <div class="modall-header">
              <h2>{{ photographe.nom }}</h2>
              <button class="close-button" (click)="closeModal()">&times;</button>
            </div>
            <div class="modall-body">
              <div class="container-xl px-4 mt-4">
                <hr class="mt-0 mb-4">
                <div class="row content">
                  <div class="col-xl-12">
                    <div class="card mb-4">
                      <div class="card-header">Contacter le photographe</div>
                      <div class="card-body">
                        <form (ngSubmit)="sendMessage()" >
                          <input type="text"  name="userID" [(ngModel)]="message.photographe_id" hidden>
                          <div class="row gx-3 mb-3">
                            <div class="col-md-12">
                              <label class="small mb-1" for="name">Entrez votre nom</label>
                              <input class="form-control" name="name" [(ngModel)]="message.nom_client"  id="name" type="text" placeholder="Entrez votre nom" required>
                            </div>

                            <div class="col-md-12">
                              <label class="small mb-1" for="email">Entrez votre email</label>
                              <input class="form-control" name="email" [(ngModel)]="message.email_client" id="email" type="email" placeholder="regent@gmail.com" required>
                            </div>

                            <div class="col-md-12">
                              <label class="small mb-1" for="tel">Entrez votre numero de telephone</label>
                              <input class="form-control" name="tel"  id="tel" [(ngModel)]="message.numero_telephone" type="number" min="000000000" placeholder="678 254 254" required>
                            </div>

                            <div class="col-md-12">
                              <label class="small mb-1" for="ville">Entrez votre ville</label>
                              <input class="form-control" name="name" [(ngModel)]="message.ville_client" id="ville" type="text" placeholder="Dschang" required>
                            </div>

                            <!-- <div class="col-md-12">
                              <label class="small mb-1" for="inputFirstName">Prix de l'image</label>
                              <input class="form-control" name="prix"   id="inputFirstName" type="number" min="0" placeholder="Entrer un prix pour votre image">
                            </div> -->

                            <div class="col-md-12">
                              <label class="small mb-1" for="message">Entrez votre message</label>
                              <textarea name="message" id="message" class="form-control"[(ngModel)]="message.libelle" placeholder="Entrer le contenu de votre message ici"></textarea>
                            </div>

                          </div>

                          @if (messages) {

                            <div class="alert alert-success">{{ messages.message }}</div>

                          }


                          <button class="btn btn-primary" type="submit" >Envoyer</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modall-footer">
              <!-- <button class="btn btn-warning" (click)="closeModal()">Fermer</button> -->
            </div>
          </div>
        </div>
      }


    </main>

  </div>
}

@if (isVisible) {
  <div class="modall">
    <div class="modal-content">
      <span class="close" (click)="closeModall()">&times;</span>
      <h2>Formulaire de Contact</h2>
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="form-group" hidden>
              <label for="photographe_id">ID Photographe:</label>
              <input type="text" id="photographe_id" value="1" formControlName="photographe_id" required>
          </div>
          <div class="form-group">
              <label for="nom_client">Nom Client:</label>
              <input type="text" id="nom_client" formControlName="nom_client" required>
          </div>
          <div class="form-group">
              <label for="ville_client">Ville Client:</label>
              <input type="text" id="ville_client" formControlName="ville_client" required>
          </div>
          <div class="form-group">
            <label for="email_client">Email Client:</label>
            <input type="email" id="email_client" formControlName="email_client" required>
        </div>
          <div class="form-group">
              <label for="description">Description:</label>
              <textarea id="description" formControlName="description" required></textarea>
          </div>

          <button type="submit">Envoyer</button>
      </form>
    </div>
  </div>


}
