.logo{
  height: 4rem;
}

#contact_modal {
  display: none;
}

.photograph-header {
  margin: 0 100px;
}

.contact_button {
  font-size: 20px;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
  &:hover{
    background-color: #6b1919;
  }
}

h2 {
  margin-top: 0;
}

.hashtag-container{
  margin-top: 30px;
}
.hashtag{
  border: 2px solid #f2f2f2;
  border-radius: 10px;
  padding: 0 5px 0 5px;
  color: #901C1C;
  margin-right: 10px;

}

.photographer {
  background-color: #FAFAF2;
  display: flex;
  flex-direction: row;
  padding: 30px 20px 30px 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: space-between;
  .photographer-information{
    display: flex;
    flex-direction: row;

  }
  h2 {
    color: #D3573C;
    font-size: 30px;
    font-size: 50px;
  }
  .profile {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  .tagline{
    color: #1b0404;
  }
}

h3 {
  color: #bd4e35;
  font-size: 15px;
  font-size: 20px;
}

.tri{
  margin-top: 5%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: row;

  h5{
    margin-top: 5px;
  }
  select{
    width: 200px;
    padding: 10px 0 10px 10px;
    margin: 0 10px 0 10px;
    font-size: 16px;
    border: 1px solid #901C1C;
    border-radius: 5px;
    background-color: #901C1C;
    color: white;
    .option{
      padding: 5px;
      font-size: 14px;
      background-color: #D3573C;
      color: white;
      border-bottom: 2px solid #f2f2f2;
    }
    &:focus{
      border-color: burlywood;
      outline: none;
    }
    &:hover{
      border-color: #1b0404;
    }
  }
}

.modall {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modall-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 60%;
}

.modall-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e9ecef;
  padding-bottom: 0.5rem;
}

.close-button {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modall-body {
  padding: 1rem 0;
  .input{
    padding: 5%;
    font-size: 1.3rem;
  }
}

.modall-footer {
  border-top: 1px solid #e9ecef;
  padding-top: 0.5rem;
  display: flex;
  justify-content: flex-end;
}

.button-modall {
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.button-modall:hover {
  background-color: #0056b3;
}

.public-img{
  width: 50%;
}

.textarea{
  margin-top: 5%;
}

.content{
  justify-content: space-around;
}


//
.navBar-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.btn-link{
  text-decoration: none;
  border: 1px solid #f2f2f2;
}

.card-img-top{
  height: 15rem;
  object-fit: cover;
}
.card-footer{
  display: flex;
  justify-content: space-between;
}

.card-body-title{
  display: flex;
  justify-content: space-between;
}


//Like
.like-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.like-button .fa-heart {
  font-size: 24px;
  color: #ccc;
  transition: color 0.3s, transform 0.3s;
}

.like-button .fa-heart.liked {
  color: #ff0000;
  transform: scale(1.2);
}

.like-button .like-count {
  margin-left: 5px;
  font-size: 16px;
}

//
.categorie_item{
  color: red;
}



//filigrane
.image-container {
  position: relative;
}

.watermark {
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.3);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  // z-index: 1;
  user-select: none;
  pointer-events: none;
}

.watermark.middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-image: linear-gradient(to top right, transparent 0%, transparent 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 100%); */
}

.watermark.rotated {
  transform: translate(-50%, -50%) rotate(-15deg);
}
