.modall {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modall-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 60%;
}

.modall-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e9ecef;
  padding-bottom: 0.5rem;
}

.close-button {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modall-body {
  padding: 1rem 0;
  .input{
    padding: 5%;
    font-size: 1.3rem;
  }
}

.modall-footer {
  border-top: 1px solid #e9ecef;
  padding-top: 0.5rem;
  display: flex;
  justify-content: flex-end;
}

.button-modall {
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.button-modall:hover {
  background-color: #0056b3;
}

.public-img{
  width: 50%;
}

.textarea{
  margin-top: 5%;
}

.content{
  justify-content: space-around;
}

.card-img-top{
  // max-width: 200px; /* Définissez la largeur souhaitée pour l'image dégradée */
  height: auto;
  image-rendering: pixelated; /* Cette propriété dégrade la qualité de l'image */
  // filter: blur(2px); /* Ajoutez un flou pour adoucir l'effet */
}

.card-footer{
  display: flex;
  justify-content: space-between;
}
.card-body-title{
  display: flex;
  justify-content: space-between;
}



//filigrane
.image-container {
  position: relative;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.watermark {
  position: absolute;
  color: rgba(255, 255, 255, 0.7);
  font-size: 20px;
  font-weight: bold;
  pointer-events: none;
  transform: rotate(-30deg);
}

.watermark1 {
  top: 5%;
  left: 5%;
}

.watermark2 {
  top: 5%;
  right: 5%;
}

.watermark3 {
  top: 25%;
  left: 25%;
  transform: rotate(30deg);
}

.watermark4 {
  top: 25%;
  right: 25%;
  transform: rotate(30deg);
}

.watermark5 {
  top: 50%;
  left: 5%;
}

.watermark6 {
  top: 50%;
  right: 5%;
}

.watermark7 {
  top: 75%;
  left: 25%;
  transform: rotate(-30deg);
}

.watermark8 {
  top: 75%;
  right: 25%;
  transform: rotate(-30deg);
}

.watermark9 {
  bottom: 25%;
  left: 5%;
  transform: rotate(30deg);
}

.watermark10 {
  bottom: 25%;
  right: 5%;
  transform: rotate(30deg);
}

.watermark11 {
  bottom: 5%;
  left: 25%;
}

.watermark12 {
  bottom: 5%;
  right: 25%;
}
.watermark13 {
  bottom: 50%;
  right: 50%;
}
