<div class="modall" *ngIf="isVisible">
  <div class="modall-content">
    <div class="modall-header">
      <h2>{{ dataDemo.title }}</h2>
      <button class="close-button" (click)="closeModal()">&times;</button>
    </div>
    <div class="modall-body">
      <div class="container-xl px-4 mt-4">
        <hr class="mt-0 mb-4">
        <div class="col-12 mt-3">
          <div class="card">
            <div class="gallery">
              <div class="image-container">
                <img [src]="'data:image/png;base64,' + dataDemo.url" class="card-img-top" oncontextmenu="return false;" [alt]="dataDemo.title">

                <div class="watermark watermark1">{{ photographe.signature }}</div>
                <div class="watermark watermark2">{{ photographe.signature }}</div>
                <div class="watermark watermark3">{{ photographe.signature }}</div>
                <div class="watermark watermark4">{{ photographe.signature }}</div>
                <div class="watermark watermark5">{{ photographe.signature }}</div>
                <div class="watermark watermark6">{{ photographe.signature }}</div>
                <div class="watermark watermark7">{{ photographe.signature }}</div>
                <div class="watermark watermark8">{{ photographe.signature }}</div>
                <div class="watermark watermark9">{{ photographe.signature }}</div>
                <div class="watermark watermark10">{{ photographe.signature }}</div>
                <div class="watermark watermark11">{{ photographe.signature }}</div>
                <div class="watermark watermark12">{{ photographe.signature }}</div>
                <div class="watermark watermark13"> {{ photographe.signature }}</div>
              </div>
            </div>
            <div class="card-body">
              <div class="card-body-title">
                <h5 class="card-title">{{ dataDemo.title }}</h5>
                <h5 class="card-title">{{ dataDemo.price }}Fcfa</h5>
              </div>
              <p class="card-text">{{ dataDemo.description }}</p>
                <div class="card-footer">
                  <div>
                    <button class="btn btn-primary" (click)="goToProfile(dataDemo.photographeId)">Voir le profil du photographe</button>
                  </div>
                  <div>
                    <button class="btn btn-info">Acheter cette image</button>
                  </div>
                </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="modall-footer">
      <button class="btn btn-warning" (click)="closeModal()">Fermer</button>
    </div>
  </div>
</div>
