//////
///
.content{
  background-color: rgb(0, 0, 0);

}
.navbar1{
  color:white;
}
.section-div{
color: blue;
}
.p1{
  font-size: 50px;
  margin-top: 80px;
}
.form-control1{
  align-items: center;
 width: 800px;
 margin-left: 300px;
}

.img-list:hover{
  box-shadow: 0px 2px 2px 1px;
  color: rgb(48, 7, 7);
  margin-bottom: 5px;
}
.categorie:hover{
  box-shadow: 0px 1px 1px 1px;
  color: rgb(49, 45, 97);
  padding-bottom: 10px;

}




////

.navBar-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.btn-link{
  text-decoration: none;
  border: 1px solid #f2f2f2;
}

.card-img-top{
  height: 15rem;
  object-fit: cover;
}
.card-footer{
  display: flex;
  justify-content: space-between;
}



//Like
.like-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.like-button .fa-heart {
  font-size: 24px;
  color: #ccc;
  transition: color 0.3s, transform 0.3s;
}

.like-button .fa-heart.liked {
  color: #ff0000;
  transform: scale(1.2);
}

.like-button .like-count {
  margin-left: 5px;
  font-size: 16px;
}

//
.categorie_item{
  color: red;
}

