<div class="container-fluid">
  <div class="row content background-image">
    <div class="col search-content">
        <form (ngSubmit)="onSubmit()"  class="d-flex py-5 " role="search">
          <input class="form-control me-2 form-control1 rounded-5" name="search" [(ngModel)]="inputSearch" type="search" placeholder="Rechercher des images" aria-label="Search">
          <button class="btn rounded-5" type="submit">Search <i class="fa f"></i></button>
        </form>

    </div>
  </div>
  <section class="section1">
    <div class="container-fluid section-div">
        <div class="row pt-5">
      <div class="col">
          <nav class="navbar navbar-expand-lg">
              <div class="collapse navbar-collapse text-center" id="navbarNav">
                <ul class="navbar-nav  ">
                  @for (item of categories; track $index) {
                    <li class="nav-ite">
                      <a class=" btn nav-link mx-1 text-dark categorie" (click)="openCategorie(item.categorie)">#{{ item.categorie }}</a>
                    </li>
                  }

                </ul>
              </div>
          </nav>
      </div>
  </div>
    </div>
  </section>

  <router-outlet></router-outlet>

</div>
