.table-container {
  padding-top: 50px;
}
.table {
  background-color: #f8f9fa;
  border-radius: 5px;
  overflow: hidden;
}
.table th, .table td {
  vertical-align: middle;
  text-align: center;
}
.table .btn {
  margin: 0 5px;
}
.table .btn-apply {
  background-color: #28a745;
  color: white;
}
.table .btn-cancel {
  background-color: #dc3545;
  color: white;
}
.table .btn-apply:hover, .table .btn-cancel:hover {
  color: white;
}
.custom-select {
  width: 100%;
}


.rounded-circle{
  height: 60px;
}
