
<div>
  <div class="pt-5">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nom</th>
                <th scope="col">Email</th>
                <th scope="col">numero</th>
                <th scope="col">Pays</th>
                <th scope="col">Photo</th>
                <th scope="col">Siganature</th>
                <th scope="col">role</th>
                <th scope="col">Option</th>

            </tr>
        </thead>
        <tbody>
          @for (item of data; track $index) {
            <tr>
              <th scope="row">{{item.id}}</th>
              <th scope="row">{{item.user.name}}</th>
              <td>{{ item.user.email }}</td>
              <td>{{ item.numero }}</td>
              <td>{{ item.pays }}</td>
              <td>{{ item.photo }}</td>
              <td>{{ item.signature }}</td>
              <td>
                <select name="" id="">
                  <option value="1">{{ item.user.role }}</option>
                  @if (item.user.role == "photographe") {
                    <option value="1">admin</option>
                  }@else {
                    <option value="1">photographe</option>
                  }

                </select>
              </td>
              <td>
                <button>Appliquer</button>
                <button>Annuler</button>
              </td>
            </tr>

          }


            <!-- Ajoutez plus de lignes ici -->
        </tbody>
    </table>
</div>
</div>
