<div class="modall" *ngIf="isVisible">
  <div class="modall-content">
    <div class="modall-header">
      <h2>{{ title }}</h2>
      <button class="close-button" (click)="closeModal()">&times;</button>
    </div>
    <div class="modall-body">
      <div class="container-xl px-4 mt-4">
        <hr class="mt-0 mb-4">
        <div class="row content">
          <div class="col-xl-6">
            <div class="card mb-auto">
              <div class="card-header">Picture</div>
              <div class="card-body text-center">
                <img class="img mb-2 public-img" [src]="imgURL" >
                <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                <button class="btn btn-primary" (click)="triggerFileInput()">Upload new image</button>
                <input type="file" multiple #fileInput name="photo" (change)="selectFiles($event)" style="display: none;">
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="card mb-4">
              <div class="card-header">Image Details</div>
              <div class="card-body">
                <form>
                  <input type="text" [(ngModel)]="image.photographer_id"  name="userID" hidden>
                  <input type="text" [(ngModel)]="image.category_id" name="CategorieID" hidden>
                  <div class="row gx-3 mb-3">
                    <div class="col-md-12">
                      <label class="small mb-1" for="inputFirstName">Nom de l'image</label>
                      <input class="form-control" name="titre" [(ngModel)]="image.title"  id="inputFirstName" type="text" placeholder="Entrer un nom pour votre image">
                    </div>

                    <div class="col-md-12">
                      <label class="small mb-1" for="inputFirstName">Prix de l'image</label>
                      <input class="form-control" name="prix" [(ngModel)]="image.price"  id="inputFirstName" type="number" min="0" placeholder="5000">
                    </div>

                    <div class="col-md-12 textarea">
                      <textarea name="description" id="" class="form-control" [(ngModel)]="image.description" placeholder="Entrer une description de votre images ici"></textarea>
                    </div>

                    <div class="col-md-12 mb-3">
                      <label class="small mb-1" for="inputCategorie">Catégorie</label>
                      <select
                        class="form-select"
                        aria-label="Select categorie"
                        [(ngModel)]="image.category_id"
                        name="categorie">
                        @for (item of categories; track $index) {
                          <option [value]="item.id">{{ item.categorie }}</option>
                        }
                        @empty {

                        }
                      </select>
                    </div>

                  </div>

                  <button class="btn btn-primary" type="button" (click)="publier()" >Publier</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modall-footer">
      <!-- <button class="btn btn-warning" (click)="closeModal()">Fermer</button> -->
    </div>
  </div>
</div>
