@if (codeEntry) {
  <div class="verification-container">
    <h2>Entrer le code de reinitialisation</h2>
    <form [formGroup]="verificationForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        @if (errors.reset_code) {
          <p class="text-danger pl-1" >{{ errors.reset_code }}</p>
        }
        <input
          type="text"
          formControlName="code"
          maxlength="6"
          placeholder="Enter 6-digit code"
          class="verification-input"
        />
      </div>

      <div *ngIf="verificationForm.get('code')?.invalid && (verificationForm.get('code')?.dirty || verificationForm.get('code')?.touched)">
        <small class="error-message" *ngIf="verificationForm.get('code')?.errors?.['required']">
          Code requis
        </small>
        <small class="error-message" *ngIf="verificationForm.get('code')?.errors?.['pattern']">
          Code avec 6 chiffres
        </small>
      </div>
      <button type="submit" class="submit-button" [disabled]="verificationForm.invalid">Valider</button>
    </form>
  </div>

}
@else {
  <section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                  <form (ngSubmit)="Reset()" >
                    @if (error.email) {
                      <p class="text-danger pl-1" >{{ error.email }}</p>
                    }
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div data-mdb-input-init class="form-outline flex-fill mb-0">
                        <input type="email" id="form3Example3c" class="form-control" [(ngModel)]="reset.email" name="email"/>
                        <label class="form-label" for="form3Example3c">Your Email</label>
                      </div>
                    </div>



                    @if (error.new_password) {
                      <p class="text-danger pl-1" >{{ error.new_password }}</p>
                    }
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div data-mdb-input-init class="form-outline flex-fill mb-0">
                        <input type="password" id="form3Example4c" class="form-control" [(ngModel)]="reset.new_password" name="password"/>
                        <label class="form-label" for="form3Example4c">Password</label>
                      </div>
                    </div>


                    @if (error.confirm_password) {
                      <p class="text-danger pl-1" >{{ error.confirm_password }}</p>
                    }
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                      <div data-mdb-input-init class="form-outline flex-fill mb-0">
                        <input type="password" id="form3Example4cd" class="form-control" [(ngModel)]="reset.confirm_password" name="password_confirmation"/>
                        <label class="form-label" for="form3Example4cd">Repeat your password</label>
                      </div>
                    </div>

                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg">Register</button>
                    </div>

                  </form>

                </div>
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
}



