<div class="modall" *ngIf="isVisible">
  <div class="modall-content">
    <div class="modall-header">
      <h2>{{ title }}</h2>
      <button class="close-button" (click)="closeModal()">&times;</button>
    </div>
    <div class="modall-body">
      <form action="">
        <input type="text" name="user_id" [(ngModel)]="categorie.photographe_id" hidden>

        <!-- @if (errors.categorie) {
          <p class="text-danger pl-1" >{{ errors.categorie }}</p>
        } -->
        <input type="text" name="hashtag" class="form-control input" placeholder="Veillez saisir votre nouveau hashtag" [(ngModel)]="categorie.categorie">
      </form>
    </div>
    <div class="modall-footer">
      <!-- <button class="btn btn-warning" (click)="closeModal()">Fermer</button> -->
      <button class="button-modall" (click)="Valider()">Valider</button>
    </div>
  </div>
</div>
