<div class="modall" *ngIf="isVisible">
  <div class="modall-content">
    <div class="modall-header">
      <h2>{{ title }}</h2>
      <button class="close-button" (click)="closeModal()">&times;</button>
    </div>
    <div class="modall-body">
      <form action="">
        <label for="name"></label>
        <input type="text" name="hashtag" class="form-control input" placeholder="Veillez saisir votre nouveau hashtag">
      </form>
    </div>
    <div class="modall-footer">
      <!-- <button class="btn btn-warning" (click)="closeModal()">Fermer</button> -->
      <button class="button-modall">Valider</button>
    </div>
  </div>
</div>
